.row{
  //if the viewport is smaller than this delcaration then it will fill 100% of the available space
  max-width: $grid-width;
  margin: 0 auto;

//not - we specifying not to select the last child of this row class

  &:not(:last-child){
      margin-bottom: $gutter-vertical;

      @include respond(tab-port){
        margin-bottom: $gutter-vertical-small;
      }
  }

  @include respond(tab-port){
    padding: 0 3rem;
    max-width: 50rem;
  }

  @include clearfix;

  //attribute selector - the carrot symbol within this attr selector says that we want the beginning of whatever is in the quotation marks to be the same - it will select all of the elements who's class attribute starts with ** col- **
  //^ means start with  // * means ends with //$ means contain
  [class^="col-"]{
    //when you float an element or class - the float changes the elements height to zero(0) - so we need to use clearfix to reinstate the height
    float: left;
    &:not(:last-child){
      margin-right: $gutter-horizontal;

      @include respond(tab-port){
        margin-right: 0;
        margin-bottom: $gutter-vertical-small;
      }

    }

    @include respond(tab-port){
      width: 100% !important;
    }

  }

  .col-1-of-2{
    //in sass when we want to use a variable within a calc function we need to wrap the variable name in curly braces and place a hash infront of it
    width: calc((100% - #{$gutter-horizontal}) / 2);
  }

  .col-1-of-3{
    //it will do the multiplacation first - as we have two gutters now - and then it will do the subtraction
    width: calc( (100% - 2 * #{$gutter-horizontal}) / 3);
  }

  .col-2-of-3{
    width: calc( 2 * ((100% - 2 * #{$gutter-horizontal}) / 3) + #{$gutter-horizontal});
  }

  .col-1-of-4{
    width: calc( (100% - 3 * #{$gutter-horizontal}) / 4);
  }

  .col-2-of-4{
    width: calc( 2 * ((100% - 3 * #{$gutter-horizontal}) / 4) + #{$gutter-horizontal} );
  }

  .col-3-of-4{
    width: calc( 3 * ((100% - 3 * #{$gutter-horizontal}) / 4) + 2 * #{$gutter-horizontal} );
  }




} //end of parent row class
